.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px 10px 10px;
}

.login-form{
    width: 30%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}